<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jhernandezhpe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jhernandezhpe.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jhernandezhpe</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jhernandezhpe</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JHernandezHPEContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jhernandez.database.windows.net,1433;Initial Catalog=Jhernandez;User ID=jhernandez@jhernandez.database.windows.net;Password=123Quesito" Name="Data Source=tcp:jhernandez.database.windows.net,1433;Initial Catalog=Jhernandez;User Id=jhernandez@jhernandez.database.windows.net;Password=123Quesito" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="JHernandezHPE.Models.JHernandezHPEContext, JHernandezHPE" MigrationConfiguration="JHernandezHPE.Migrations.Configuration, JHernandezHPE" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Models)" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:jhernandez.database.windows.net,1433;Initial Catalog=Jhernandez;User ID=jhernandez@jhernandez.database.windows.net;Password=123Quesito" Name="Data Source=tcp:jhernandez.database.windows.net,1433;Initial Catalog=Jhernandez;User Id=jhernandez@jhernandez.database.windows.net;Password=123Quesito" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Models)-20161109095640.mdf;Initial Catalog=Models)-20161109095640;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Models)_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=Models)-20161109095640; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|Models)-20161109095640.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JHernandezHPEContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jhernandez.database.windows.net,1433;Initial Catalog=Jhernandez;User Id=jhernandez@jhernandez.database.windows.net;Password=123Quesito</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Models)-Web.config Connection String">
      <ParameterValue>data source=tcp:jhernandez.database.windows.net,1433;initial catalog=Jhernandez;user id=jhernandez@jhernandez.database.windows.net;password=123Quesito;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>